<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120722679690-mnvqp827tvt5pjclfa2o5pu7e99jj3c5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120722679690-mnvqp827tvt5pjclfa2o5pu7e99jj3c5</string>
	<key>API_KEY</key>
	<string>AIzaSyBahbHUwB0Bxzl4nKQVie4eAG6kfgRPSKA</string>
	<key>GCM_SENDER_ID</key>
	<string>120722679690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterquickstart</string>
	<key>PROJECT_ID</key>
	<string>flutterquickstart-882ef</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterquickstart-882ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120722679690:ios:6b6385e8250620f8d9ca73</string>
	<key>DATABASE_URL</key>
	<string>https://flutterquickstart-882ef.firebaseio.com</string>
</dict>
</plist>